<!DOCTYPE html>
<html>
<body>

<head>
    <meta charset="utf-8">
    <title>My test page</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

    </style>
</head>

<table style="width:100%">
    <caption>get_account</caption>
    <tr>
        <th>asset</th>
        <th>free</th>
        <th>locked</th>
    </tr>
    {% for balance in account_info.balances %}
    <tr>
        <td><a href="{% url 'get_asset_balance' balance.asset %}">{{ balance.asset }}</a></td>
        <td>{{ balance.free }}</td>
        <td>{{ balance.locked }}</td>
    </tr>
    {% endfor %}
</table>

{% if json_response %}
<pre>
JSON RESPONSE:

    {{ json_response }}
</pre>
{% else %}
<p>No json_response is available.</p>
{% endif %}

</body>
</html>